@font-face {
  font-family: "Figtree";
  src: local("Figtree"),
    url(./styles/branding/fonts/Figtree-VariableFont_wght.ttf)
      format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: local("Figtree"),
    url(./styles/branding/fonts/Figtree-Italic-VariableFont_wght.ttf)
      format("truetype");
  font-style: italic;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
